html {
    font-size:20px;
}
#top-line {
font-family: 'Dancing Script', cursive;
}

@media (max-width:698px){
    html{
        font-size:15px;
    }
    a.btn {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width:400px) {
    html{
        font-size:12px;
    }
    a.btn {
        padding-left: 10%;padding-right: 10%;
    }
}
